<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于药查查</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="要查查，值得信赖，很好，准确，无误，健康">
    <meta name="keyword" content="要查查，值得信赖，很好，准确，无误，健康">
    <link rel="stylesheet" href="/static/website/css/bootstrap.min.css">
    <!--<link href="../../bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/static/website/css/style.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
     <script type="text/javascript" src="/static/website/js/aboutUs.js"></script>
</head>
<body>
<!--头部开始-->
{% include 'common/header.html' %}
<!--头部结束-->
<!--section-aboutUs-1-->
<section class="section-aboutUs-1 container-fluid">
  <div class="col-lg-6 iphone-text">
      <div class="row text-white center-block">
          <h1 class="btn-group-vertical">药查查</h1>
          <h3 class="btn-group-vertical">与您一路同行</h3>
      </div>
  </div>
    <div class="col-lg-6 iphone-qr">
        <div class="row">
            <img src="/static/website/img/aboutUs-lg1-1.png" alt="" class="img-responsive">
        </div>
    </div>
</section>
<!--section-aboutUs-2-->
<section class="section-aboutUs-2">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-1 col-lg-offset-1 bg-f5 aboutusList">
                <ul>
                    <li class="current">关于我们</li>
                    <li>联系我们</li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div class="aboutUs-con">
                    <h3>关于我们</h3>
                    <p class="mt-20">人人有信成立于2016年，依托于团队多年的互联网大数据技术，主要将全球海量、分散的互联网医疗医药大数据进行重新清洗和整理，梳理关系链
                        重构产品数据画像，致力于打造医药行业数据量最全的医药大数据中心处理平台，让各类用户群体，能及时获取到最新最全的医药行业相关数据</p>
                    <p class="mt-20 mb-20">公司总部位于北京市朝阳区，拥有超强大数据挖掘、数据建模、行业标准定义和可视化分析技术团队和能力。</p>
                    <p>网址：www.yaochacha365.com</p>
                </div>
                <div>
                    <div class="btn-group-vertical">
                        <img src="/static/website/img/qr1.jpg" alt="">
                        <p>药查查小程序</p>
                    </div>
                    <div class="btn-group-vertical">
                        <img src="/static/website/img/qr2.jpg" alt="">
                        <p>药查查服务号</p>
                    </div>
                </div>
                <div class="contactUs-con">
                    <h3>联系我们</h3>
                    <p class="mt-20">邮箱：steven@rryxx.net</p>
                    <p class="mt-20 mb-20">服务热线：400-606-7716</p>
                    <p class="mb-60">QQ客服：1286986025</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>京ICP备16045214号-1 Powered by 2015-2025 人才服务许可证:RC17043693 北京怀才当遇网络技术有限公司 版权所有</footer>
</body>
</html>