<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻资讯</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="要查查，值得信赖，很好，准确，无误，健康">
    <meta name="keyword" content="要查查，值得信赖，很好，准确，无误，健康">
    <link rel="stylesheet" href="/static/website/css/bootstrap.min.css">
    <!--<link href="../../bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/static/website/css/style.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
    <script src="https://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
     <script type="text/javascript" src="/static/website/js/news_information.js"></script>
</head>
<body>
<!--头部开始-->
{% include 'common/header.html' %}
<!--头部结束-->
<!--section-news-1-->
<section class="section-news-1">
  <p>数据让生活更健康</p>
    <span></span>
</section>
<section class="section-news-2 clearfix container-fluid">
    <div class="col-lg-7 col-lg-offset-1">
        <div class="row">
            <div id="new-tab" class="mt-20">
                <ul class="clearfix">
                    <li class="pull-left current" >健康头条</li>
                    <li class="pull-left ml-10p" >要查查</li>
                    <li class="pull-left  ml-10p">用药专题</li>
                    <li class="pull-left  ml-10p">时下热点</li>
                </ul>
            </div>
            <div class="new-tab-1">
                <a href="" class="center-block new-tab-con">
                    <dl class="row">
                        <dt class="col-lg-4"><img src="/static/website/img/news-bg2.jpg" alt="" class="img-responsive"></dt>
                        <dd class="col-lg-8 text-muted">
                            <h4>小米7的性能怎么样？我们提前帮你跑个分</h4>
                            <p class="mb-10">小米7的性能怎么样？我们提前帮你跑个分小米7的性能怎么样？我们提前帮你跑个
                                分小米7的性能怎么样？我们提前帮你跑个分小米7的性能怎么样？我们提前帮你跑
                                个分
                            </p>
                            <span>
                                中国新闻网·7分钟前 阅读量：2300
                            </span>
                        </dd>
                    </dl>
                </a>
                <a href="" class="center-block new-tab-con">
                    <dl class="row">
                        <dt class="col-lg-4"><img src="/static/website/img/news-bg2.jpg" alt="" class="img-responsive"></dt>
                        <dd class="col-lg-8 text-muted">
                            <h4>小米7的性能怎么样？我们提前帮你跑个分</h4>
                            <p class="mb-10">小米7的性能怎么样？我们提前帮你跑个分小米7的性能怎么样？我们提前帮你跑个
                                分小米7的性能怎么样？我们提前帮你跑个分小米7的性能怎么样？我们提前帮你跑
                                个分
                            </p>
                            <span>
                                中国新闻网·7分钟前 阅读量：2300
                            </span>
                        </dd>
                    </dl>
                </a>
                <a href="" class="center-block new-tab-con">
                    <dl class="row">
                        <dt class="col-lg-4"><img src="/static/website/img/news-bg2.jpg" alt="" class="img-responsive"></dt>
                        <dd class="col-lg-8 text-muted">
                            <h4>小米7的性能怎么样？我们提前帮你跑个分</h4>
                            <p class="mb-10">小米7的性能怎么样？我们提前帮你跑个分小米7的性能怎么样？我们提前帮你跑个
                                分小米7的性能怎么样？我们提前帮你跑个分小米7的性能怎么样？我们提前帮你跑
                                个分
                            </p>
                            <span>
                                中国新闻网·7分钟前 阅读量：2300
                            </span>
                        </dd>
                    </dl>
                </a>
                <a href="" class="center-block new-tab-con">
                    <dl class="row">
                        <dt class="col-lg-4"><img src="/static/website/img/news-bg2.jpg" alt="" class="img-responsive"></dt>
                        <dd class="col-lg-8 text-muted">
                            <h4>小米7的性能怎么样？我们提前帮你跑个分</h4>
                            <p class="mb-10">小米7的性能怎么样？我们提前帮你跑个分小米7的性能怎么样？我们提前帮你跑个
                                分小米7的性能怎么样？我们提前帮你跑个分小米7的性能怎么样？我们提前帮你跑
                                个分
                            </p>
                            <span>
                                中国新闻网·7分钟前 阅读量：2300
                            </span>
                        </dd>
                    </dl>
                </a>
                <a href="" class="center-block new-tab-con">
                    <dl class="row">
                        <dt class="col-lg-4"><img src="/static/website/img/news-bg2.jpg" alt="" class="img-responsive"></dt>
                        <dd class="col-lg-8 text-muted">
                            <h4>小米7的性能怎么样？我们提前帮你跑个分</h4>
                            <p class="mb-10">小米7的性能怎么样？我们提前帮你跑个分小米7的性能怎么样？我们提前帮你跑个
                                分小米7的性能怎么样？我们提前帮你跑个分小米7的性能怎么样？我们提前帮你跑
                                个分
                            </p>
                            <span>
                                中国新闻网·7分钟前 阅读量：2300
                            </span>
                        </dd>
                    </dl>
                </a>
                <a href="" class="center-block new-tab-con">
                    <dl class="row">
                        <dt class="col-lg-4"><img src="/static/website/img/news-bg2.jpg" alt="" class="img-responsive"></dt>
                        <dd class="col-lg-8 text-muted">
                            <h4>小米7的性能怎么样？我们提前帮你跑个分</h4>
                            <p class="mb-10">小米7的性能怎么样？我们提前帮你跑个分小米7的性能怎么样？我们提前帮你跑个
                                分小米7的性能怎么样？我们提前帮你跑个分小米7的性能怎么样？我们提前帮你跑
                                个分
                            </p>
                            <span>
                                中国新闻网·7分钟前 阅读量：2300
                            </span>
                        </dd>
                    </dl>
                </a>
                <a href="" class="center-block new-tab-con">
                    <dl class="row">
                        <dt class="col-lg-4"><img src="/static/website/img/news-bg2.jpg" alt="" class="img-responsive"></dt>
                        <dd class="col-lg-8 text-muted">
                            <h4>小米7的性能怎么样？我们提前帮你跑个分</h4>
                            <p class="mb-10">小米7的性能怎么样？我们提前帮你跑个分小米7的性能怎么样？我们提前帮你跑个
                                分小米7的性能怎么样？我们提前帮你跑个分小米7的性能怎么样？我们提前帮你跑
                                个分
                            </p>
                            <span>
                                中国新闻网·7分钟前 阅读量：2300
                            </span>
                        </dd>
                    </dl>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row col-lg-10">
            <div class="news-search mt-10">
                <div class="col-lg-4 bg-black text-white text-center">
                    <div class="row">
                        <span>搜全站</span>
                        <i class="glyphicon glyphicon-menu-down"></i>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <input class="w100" type="text" placeholder="请输入新闻关键词">
                    </div>
                </div>
                <div class="col-lg-2 text-white bg-black text-center">
                    <div class="row">
                        <i class="glyphicon glyphicon-arrow-right"></i>
                    </div>
                </div>
            </div>
            <div class="moreArticle-wrap">
                <div class="clearfix moreArticle">
                    <h4 class="pull-left">最新文章</h4>
                    <a href="" class="pull-right mt-10">更多</a>
                </div>
                <ul>
                    <li>
                        <a href="" class="text-muted">
                            小米7的性能怎么样？我们提前帮你跑个分
                        </a>
                    </li>
                    <li>
                        <a href="" class="text-muted">
                            小米7的性能怎么样？我们提前帮你跑个分
                        </a>
                    </li>
                    <li>
                        <a href="" class="text-muted">
                            小米7的性能怎么样？我们提前帮你跑个分
                        </a>
                    </li>
                </ul>
            </div>
            <div class="moreArticle-wrap mt-20">
                <div class="clearfix moreArticle">
                    <h4 class="pull-left">精选文章</h4>
                    <a href="" class="pull-right mt-10">更多</a>
                </div>
                <ul>
                    <li>
                        <a href="" class="text-muted">
                            小米7的性能怎么样？我们提前帮你跑个分
                        </a>
                    </li>
                    <li>
                        <a href="" class="text-muted">
                            小米7的性能怎么样？我们提前帮你跑个分
                        </a>
                    </li>
                    <li>
                        <a href="" class="text-muted">
                            小米7的性能怎么样？我们提前帮你跑个分
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-12 mt-20 pagination-news">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="row">
                    <div class="col-lg-1 glyphicon glyphicon-menu-left"></div>
                    <div class="col-lg-10">
                        <ul class="center-block clearfix">
                            <li class="pull-left current">1</li>
                            <li class="pull-left">2</li>
                            <li class="pull-left">3</li>
                            <li class="pull-left">4</li>
                            <li class="pull-left">5</li>
                            <li class="pull-left">6</li>
                            <li class="pull-left">7</li>
                        </ul>
                    </div>
                    <div class="col-lg-1 glyphicon glyphicon-menu-right"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>京ICP备16045214号-1 Powered by 2015-2025 人才服务许可证:RC17043693 北京怀才当遇网络技术有限公司 版权所有</footer>
</body>
</html>